.side-bar{
  position: fixed;
  width: 300px;
  left: 0px;
  top: 0px;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  .name{
    position: absolute;
    top: 100px;
    left: 20px;
    font-size: 32px;
    font-family: 'times new roman',times,serif;
  }
  .nav{
    position: absolute;
    top: 150px;
    left: 20px;
    .tag{
      height: 30px;
      &:hover{
        cursor: pointer;
        font-weight: 600;
      }
    }
  }
  // a:-webkit-user-select: none;
  a{
    text-decoration: none;
    color: #000;
    // &:link {text-decoration:none;}    /* 未被访问的链接 */
    // &:visited {text-decoration:none} /* 已被访问的链接 */
    // &:hover {text-decoration:none;}   /* 鼠标指针移动到链接上 */
    // &:active {text-decoration:none}  /* 正在被点击的链接 */
  }
}